.login-form
  %h1 Confirmation
  %hr/
  %p Your store is pending approval.
  %br/
  %h4 Name
  %p= @new_store.name
  %br/
  %h4 Path
  %p= @new_store.path
  %br/
  %h4 Description
  %p= @new_store.description
  %br/
  %h4 Status
  %p Pending
  %br/
