%p Do you have a Discount Code?
= simple_form_for :discounts, method: :get do |f|
  = f.hidden_field current_store.id
  = f.input :name, input_html: { placeholder: 'Discount Code...' }
  = f.submit 'Apply'

