.admin-order-index
  = render partial: 'shared/admin_navigation', locals: { active: :discounts }
  .span8
    %h1 Create a New Discount Code:
    %hr

    = render 'form'

    = link_to 'Back', store_admin_discounts_path
