%thead
  %tr
    %th
      = category.title
      = link_to t('crud.edit'), edit_store_admin_category_path(current_store, category)
%tbody
  - @categories.each do |category|
    %tr
      %td= category.title
  - if category.products.count == 0
    %tr
      %td= t('categories.noproducts')

