%tr
  %td= admin.email
  %td
    - if admin != current_user
      = link_to 'Remove',                                            |
        store_admin_revoke_role_path(current_store, user_id: admin), |
        method: :delete,                                             |
        confirm: "are you sure?"                                     |
